h1 {
    margin-bottom: 0;
}

td.short {
    width: min-content;
}

.saveasCSV {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: auto;
    background-color: gray;
    border-color: gray;
}

textarea {
    width: 100%;
    max-width: 100%;
}

.w-full {
    width: 100%;
}